.labelName {
  font-size: 24px;
}

input {
  width: 500px;
  margin-bottom: 16px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-bottom: 1px solid #000;
  display: block;
}

input:hover,
input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(19, 116, 206, 0.781);
}

.buttonAddBlog {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgba(104, 105, 107, 0.877);
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonAddBlog:hover {
  background-color: rgba(104, 105, 107, 0.877);
  color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
  input {
    width: 300px;
    margin-bottom: 8px;
    font-size: 12px;
    padding: 6px 12px;
  }

  .labelName {
    font-size: 16px;
  }

  .buttonAddBlog {
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    padding: 6px;
    color: white;
    background-color: rgba(19, 116, 206, 0.781);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  input {
    width: 400px;
    margin-bottom: 12px;
    font-size: 14px;
    padding: 8px 14px;
  }

  .labelName {
    font-size: 22px;
  }

  .buttonAddBlog {
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    padding: 8px 24px;
    color: white;
    background-color: rgba(19, 116, 206, 0.781);
  }
}
